# Copie este arquivo para .env e preencha com seus valores locais
# cp .env.example .env

# Usuário dentro do container (padrão: jovyan)
NB_USER=mauri
NB_UID=1000
NB_GID=100

# Porta local do Jupyter (padrão: 8888)
JUPYTER_PORT=8888

# Caminho absoluto da pasta de trabalho no host (WSL ou Linux)
# Exemplo WSL: /mnt/c/Users/SeuNome/OneDrive/Documents/Trabalho/Projetos
# Exemplo Linux: /home/seuUsuario/projetos
WORK_DIR=/mnt/c/Users/Mauri/OneDrive/Documents/Trabalho/projetos
